.my-theme {
    /* colors */
        --color_main_primary: #508991;
        --color_main_secondary: #3fc8a1;
        --color-main_tertiary: #000000;
        --color-border: #272640;
        --color-headline: #0e7d5e;
        --color-text: #032c30;
        --color-highlight: #5577c5;
    
  }