/* #1 CV styles */

.main-theme {
    --color-main-primary: #86A3B4;
    --color-main-secondary: #1C2E8C;
    --color-main-tertiary: #FFFFFF;
    --color-border: #000000;
    --color-headlines: #1E1E1E;
    --color-text: #263036;
    --color-highlight: #fc0;
}

.paddings {
    --big-padding-bottom: 26px;
    --small-padding-bottom: 15px;
    --padding-second-section: 55px;
}


.body_cv {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    border: 1px solid var(--color-border);
    font-weight: 600;
    margin: 0 auto;
    box-sizing: border-box;

}


.primary {
    
    background-color: var(--color-main-primary);
    border-right: 1px solid var(--color-border);
    /* position: sticky;
    top: 0;
    overflow: auto; */
}


.secondary {
    max-width: calc(100vw - 385px);
    padding-left: var(--padding-second-section);
    padding-right: var(--padding-second-section);
}


.photo {
    width: 385px;
    height: 292px;
    object-fit: cover;
    object-position: 0% 40%;
}

.headlines {
    font-size: 36px;
    color: var(--color-headlines);
    padding-bottom: var(--big-padding-bottom);
    border-bottom: 5px solid var(--color-border);
    
}

.headline_name {
    font-size: 40px;
    padding-left: 40px;
    margin-bottom: 16px; 
}

.first_name {
    color: var(--color-main-tertiary);

}

.last_name {
    color: var(--color-main-secondary);

}

.offer_link {
    display: inline-block;
    text-shadow: var(--color-main-secondary) 1px 0 10px;
    text-decoration: none;
    color: var(--color-main-tertiary);
    padding: 5px;
    margin-left: 40px;
    margin-bottom: 10px;
}


.offer_link:hover {
    text-shadow: var(--color-highlight) 1px 0 10px;
}


article .headlines {
    font-size: 32px;
    color: var(--color-text);
}

.text {
    font-size: 16px;
    color: var(--color-text);
}

.contact, .lang {
    padding-left: 40px;
    padding-right: 52px;
}

.primary .headlines {
    padding-bottom: var(--small-padding-bottom);
}

.table_head {
    font-size: 24px;
    color: var(--color-text);
    margin-bottom: 11px;
    
}
.table .text {
    margin: 0;
}

.lang_list {
    padding-left: 0;
    list-style-type: none;

}

.lang_list li {
    padding-bottom: var(--small-padding-bottom);
}

p {
    color: var(--color-text);
}

.cell_link, .cell_link:visited {
    color: var(--color-main-secondary);
    text-decoration: none;
}
.cell_link:hover {
    cursor: pointer;
}

.text_info {
    font-size: 14px;
    font-weight: 400;
}

.work_position_1 {
    margin-top: 31px;
    margin-bottom: 0;
}

.work_position_2 {
    margin-top: 15px;
}

 @media screen and (max-width: 400px) {
    .body_cv {
        display: flex;
        flex-direction: column;
       

    }

    .secondary {
        max-width: none;
    }
}




/* #2 hire_me.html styles  */

.hire_body {
    max-width: 1024px;
    font-family: 'Inter', sans-serif;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}


.hire_h2 {
    font-size: 32px;
}

/* Contact info table  */

.hire_h3 {
    font-size: 24px;
    font-weight: 600;
}

.hire_table {
    border-collapse: collapse;
    
}

.hire_table th {
    font-weight: 600;
}

.hire_table th, 
.hire_table td {
    border: 1px solid black;
    padding: 5px;
}



/* Contact Form */

legend {
    font-weight: 600;
}

.contact_table {
    padding-top: 7px;
}

.contact_table tr {
    vertical-align: top;
    text-align: left;
}

.contact_table th,
.contact_table td {
    padding-bottom: 15px;
    padding-right: 4px;
}

.contact_table label {
    font-weight: 600;
}

.asterisk {
    color: #ED0131;
}
.error {
    display: none;
    color: #ED0131;
    font-size: 12px;
    font-weight: 100;
    line-height: 2;
}


input,
select,
textarea {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none; 
}



input[type="email"],
textarea, 
select {
    width: 460px;
    padding: 5px;
    background-color: #F8FAFC;
    border-radius: 4px;
    color: #3B4256;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input[type="email"]:hover,
textarea:hover,
select:hover {
    border: 1px solid #0048D9;
    color: #3B4256;
} 
input[type="email"]:hover:invalid {
    border: 1px solid #ED0131;
}

input[type="email"]:invalid + .error {
    display: block;
}
 

textarea {
    max-height: 164px;
}

select[name="type"] {
    width: 470px;
    background: url('./Vector.svg') no-repeat center right .75rem;;
    color: #B8BCCA;
    letter-spacing: 0.01em;
    background-color: #F8FAFC;

}

select[name="type"]:focus {
    color: #3B4256;
}

/* Submit button */

input[type="submit"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #0048D9;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 4px 16px 4px 16px;
}


input[type="submit"]:hover {
    background-color: #002266;
    cursor: pointer;
    border: none;
}



input[type="submit"]:disabled {
    background: rgba(0, 72, 217, 0.45);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}