body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.my_name {
    font-style: italic;
}

.job_position {
    font-weight: bold;
}

th {
    text-transform: uppercase;
}

.link {
    color: #00f;
}

.link:visited {
    color: #005;
}

.link:hover {
    text-decoration: none;
}

.item_skills {
    list-style-type: square;
}